* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
    width: 100%;
    height: max(585px, 100vh);
    align-items: center;
    justify-content: center;
    background-color: rgb(12, 11, 11);
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.time {
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.btn {
    border: none;
    background-color: red;
    color: white;
    padding: 6px;
    border-radius: 5px;
    width: 120px;
    font-size: large;
    font-weight: 550;
}

.btn:hover {
    background-color: rgb(149, 4, 4);
    cursor: pointer;
}

.resetBtn {
    display: none;
}

.pauseBtn {
    display: none;
}

.resumeBtn {
    display: none;
}